@import 'reset';

$font-size: 14px;
$tags-selected-bg-color: rgba(black, 0.13);
$selected-text-color: black;

:root {
  --body-text-color: black;
}

html {
  width: 100%;
  background-color: transparent;
  max-width: 100%;
}

body {
  background-color: #f6f6f6;
  font-family: sans-serif;
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  height: 100%;
  font-size: $font-size;
  color: black;
  max-width: 100%;
}

.sn-component {
  overflow: hidden;
  &:hover {
    overflow: auto;
  }
}

.header {
  margin-bottom: 15px;
}

$tag-height: 26px;

.content {
  overflow-x: visible;
  padding: 15px;
  padding-top: 15px;
  padding-right: 6px;
  width: 100%;
  padding-bottom: 5px;
}

.tag-tree {
  padding-left: 18px;

  &.master {
    padding-left: 0;
  }

  cursor: pointer;
  font-size: $font-size;

  .self {

    min-width: 120px;
    width: 100%;

    min-height: $tag-height;

    @mixin on-hover() {
      color: $selected-text-color;
      > .title {
        color: $selected-text-color;
      }
      &:before {
        margin-top: -6px;
        content: '';
        min-height: $tag-height;
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        z-index: -1;
        // background: $tags-selected-bg-color;
        $color-1: rgba(190,212,219,0.5);
        $color-2: rgba(206,203,216,0.5);
        background: $color-1; /* Old browsers */
        background: -moz-linear-gradient(left, $color-1 0%, $color-2 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, $color-1 0%, $color-2 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, $color-1 0%,$color-2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bed4db', endColorstr='#cecbd8',GradientType=1 ); /* IE6-9 */
      }
    }

    &.selected {
      @include on-hover();
    }

    /* The properties for when another tag is dragged on top of this one */
    &.over {
      background-color: $tags-selected-bg-color;
      color: $selected-text-color;
      border: 2px dashed rgba(white, 0.8);
      padding: 12px;
      padding-bottom: 0;
      > .title {
        color: $selected-text-color;
      }
    }

    /* The tag being dragged */
    &.drag {
      opacity: 0.5;
    }

    &:hover:not(.selected) {
      @include on-hover();
    }

    display: table;

    .tag-info {
      min-height: 100%;
      height: 100%;
      position: relative;
      display: table-cell;
      display: flex;
      min-height: $tag-height;

      &:hover {
       .hover-menu {
         display: inline-block;
       }
      }

      .hover-menu {
        display: none;
        margin-top: -3px;
        float: right;
        position: absolute;
        right: 20px;
        top: 0;

        button {
          font-size: 14px;

          $button-bg: #eff2fb;
          color: darken($button-bg, 35%);
          width: 45px;
          height: 20px;
          line-height: 10px;
          border: 1px solid rgba(black, 0.15);
          outline: none;

          &.half {
            width: 25px;
          }

          &.danger {
            color: red;
          }

          cursor: pointer;
          background-color: $button-bg;
          border-radius: 4px;
          font-weight: normal;
          text-align: center;

          &:hover {
            background-color: darken($button-bg, 2%);
          }
        }
      }

      .new-tag-form {
        margin-top: -5px;
        width: 70%;
        input {
          background-color: transparent;
          border: 0;
          outline: 0;
          font-size: $font-size;
          padding: 0;
          margin: 0;
          padding-top: 2px;
        }
      }

      &.level-1 {
        .title {
          font-weight: 600;
        }
      }

      .circle {
        margin-right: 5px;
      }

     input.title {
       border-bottom: 0;
       width: 80%;
       outline: 0;
       margin: 0;
       padding: 0;
       margin-top: -15px;
       padding-top: 2px;
     }

     .title {
       background-color: transparent;
       font-weight: 200;
       font-size: $font-size;
       border: none;
       cursor: pointer;
       text-overflow: ellipsis;
       pointer-events: none;
     }
   }

  }
}
