@import 'reset';

$tag-height: 26px;
$font-size: 14px;
$tags-selected-bg-color: rgba(black, 0.13);
$selected-text-color: black;

:root {
  --body-text-color: black;
}

* {
  box-sizing: border-box;
}

html {
  background-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: $font-size;
  color: black;
  background-color: #f6f6f6;
}

.root-container {
  height: 100%;
  overflow: hidden;
  &:hover {
    overflow: scroll;
    overflow: overlay;
  }
}

.header {
  margin-bottom: 15px;
}

.sn-component {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  padding: 15px 20px 0 15px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.tag-tree {
  display: flex;
  flex-grow: 1;
  padding: 0 0 0 18px;
  cursor: pointer;
  font-size: $font-size;

  &.master {
    padding-left: 0;
    display: block;
    flex-grow: 1;

    // Make sure we have padding at the bottom of the scrollable content so that the last tag
    // is not cut off (under scrollbar) since scrollbar is set to overlay content
    &:last-child {
      padding-bottom: 15px;
    }
  }

  // Make sure Angular div from the ng-if is growing in width
  > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .self {
    // display: flex;
    flex-grow: 1;

    @mixin on-hover() {
      color: $selected-text-color;
      > .title {
        color: $selected-text-color;
      }
      &:before {
        content: '';
        min-height: $tag-height;
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
        $color-1: rgba(190,212,219,0.5);
        $color-2: rgba(206,203,216,0.5);
        background: $color-1; /* Old browsers */
        background: -moz-linear-gradient(left, $color-1 0%, $color-2 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, $color-1 0%, $color-2 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, $color-1 0%,$color-2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bed4db', endColorstr='#cecbd8',GradientType=1 ); /* IE6-9 */
      }
    }

    &.selected {
      @include on-hover();

      &:before {
        min-height: $tag-height * 2;
      }
    }

    /* The properties for when another tag is dragged on top of this one */
    &.over {
      background-color: $tags-selected-bg-color;
      color: $selected-text-color;
      border: 2px dashed rgba(white, 0.8);
      padding: 12px;
      padding-bottom: 0;
      > .title {
        color: $selected-text-color;
      }
    }

    /* The tag being dragged */
    &.drag {
      opacity: 0.5;
    }

    .action-menu {
      display: block;
      height: $tag-height;
      font-size: 12px;
      line-height: $tag-height;

      span {
        margin-right: 5px;

        &:hover {
          color: #1f6cd3;

          &.delete {
            color: red;
          }
        }
      }
    }

    .new-tag-form {
      display: flex;
      flex-grow: 1;

      input {
        margin: 0;
        padding: 0;
        padding-top: 2px;
        background-color: transparent;
        font-size: $font-size;
        border: 0;
        outline: 0;
      }
    }

    .tag-info {
      display: flex;
      flex-grow: 1;
      min-height: $tag-height;
      line-height: $tag-height;

      &.level-1 {
        .title {
          font-weight: 600;
        }
      }

      .circle {
        margin: 8px 5px 0 0;
        min-width: 11px;
        min-height: 11px;
      }

      input.title {
        display: flex;
        flex-grow: 1;
        margin: 0;
        padding: 0;
        padding-top: 2px;
        width: 80%;
        border-bottom: 0;
        outline: 0;
      }

      .title {
        display: flex;
        flex-grow: 1;
        background-color: transparent;
        font-weight: 200;
        font-size: $font-size;
        border: none;
        cursor: pointer;
        text-overflow: ellipsis;
        pointer-events: none;
        white-space: nowrap;
      }
    }
  }
}
