.content
  .header
    %h3.body-text-color Folders
  .tag-tree.master{"tag" => "masterTag", "change-parent" => "changeParent", "on-select" => "selectTag", "create-tag" => "createTag", "save-tags" => "saveTags"}

.trash{"draggable" => "true", "is-draggable" => "false", "drop" => "onTrashDrop"}
  %p Trash
